* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(189, 184, 184);
    color: #000;
}

/* --- HEADER --- */
/* --- HEADER --- */
/* --- HEADER --- */

header {
    background-image: url(../images/fundo-fotografico.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    height: 180px;
    margin: auto;
    max-width: 1200px;
}

.name {
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    float: left;
    margin-left: 200px;
    
}

.img-perfil {
    background: url(../images/face.jpg) no-repeat 0 0 / 100%;
    border: 2px solid #000;
    border-radius: 50%;
    height: 150px;
    margin-left: 20px;
    width: 150px;
}

header > menu > a{
    color: #fff;
    float: right;
    margin-right: 50px;
    text-decoration: none;
}

/* --- CONTAINER --- */
/* --- CONTAINER --- */
/* --- CONTAINER --- */

.container {
    background-color: #fff;
    margin: auto;
    height: 600px;
    max-width: 1200px;
}

ul {
    list-style-type : none;
}

/* --- INF PESSOAIS --- */
/* --- INF PESSOAIS --- */
/* --- INF PESSOAIS --- */

.informacoes-pessoais {
    font-family: 'Nunito', sans-serif;
    margin-left: 15px;
}

/* --- HARD SKILLS --- */
/* --- HARD SKILLS --- */
/* --- HARD SKILLS --- */

.hard-skills {
    margin-top: 20px;
    margin-left: 15px;
}